:root {
  --purple: #7776bc;
  --lightPurple: #cdc7e5;
  --paleYell: #fffef5;
  --brightYell: #ffec51;
  --coral: #ff674d;
  --coral2: #ffd151;
}

a {
  text-decoration: none;
  background-color: none;
  color: var(--purple);
}
h3{
  font-size: 29px;
  margin: 0px;
}
body {
  padding: 20px;
  background: var(--paleYell);
  font-family: "Jacquarda Bastarda", Lato;
  /* color: #4c191b; */
}
.myName {
  font-size: 40px;
}
.myPages {
  display: flex;
  padding-left: 0 !important;
  flex-direction: row;
  width: 40vw;
  list-style-type: none;
  font-size: 30px;
}
.myPagesLinks {
  z-index: 3;
  margin-right: 20px;
}

.contactInfo p {
  width: fit-content;
  display: flex;
  flex-direction: column;
}

.projectCards {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.projectCard {
  border: 2px solid var(--purple);
  border-radius: 10px;
  padding: 1rem;
  margin: 1rem;
  opacity: 20%;

  
  img {
    width: 20vw;
    padding: 5px;
    border: 1px solid var(--purple);
    float: right;
  }
}
.projectCard:hover {
  opacity: 100%;
  /* transform: scale(1.1); */
}
#beautyqlickIMG {
  filter: opacity(30%);
}

.pCardInfo {
  display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
}
.pCardInfoPart{
  padding: 0px 20px;
}
p{
  font-size: 22px;
  letter-spacing: .05rem;
}
.extraLinked {
  display: flex;
  flex-direction: row;
  

  .linkd {
    padding: 12px;
    border-radius: 20px;
    background-color: #0077b5;
    color: aliceblue;
  }
  .insta {
    padding: 12px;
    border-radius: 20px;
    background-color: #fbad50;
    color: #ffead7;
  }
  .git {
    padding: 12px;
    border-radius: 20px;
    background-color: #000000;
    color: aliceblue;
  }
}
.xtralinkedThing{
 padding: 4px;
}

/* 
@media only screen and (min-width: 600px) {
  .projectCard {
    margin: 10px;
    img {
      width: 20vw;
      align-self: flex-end;
    }
  }
  .pCardInfo {
    display: flex;
    flex-direction: row;
    margin: 5px;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
  }
} */

@media only screen and (max-width: 768px) {
  /* .projectCards{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    } */
  .pCardInfo {
    border: 1px solid var(--purple);
    padding: 10px;
  }
  .projectCard {
    width: 85vw;
    border: none;
    img {
      margin: 5px;
      width: 22vw;
    }
  }
  .myName {
    font-size: 26px;
  }
  .myPages {
    font-size: 20px;
  }
}
