:root {
  --purple: #7776bc;
  --lightPurple: #cdc7e5;
  --paleYell: #fffef5;
  --brightYell: #ffec51;
  --coral: #ff674d;
  --coral2: #ffd151;
}

a {
  text-decoration: none;
  background-color: none;
  color: var(--purple);
}
h3{
  font-size: 29px;
  margin: 0px;
}
body {
  padding: 20px;
  background: var(--paleYell);
  font-family: "Jacquarda Bastarda", Lato;
  /* color: #4c191b; */
}
.myName {
  font-size: 40px;
}
/* .headElems{
  display: flex;
  
} */
.myPages {
  display: flex;
  flex-direction: row;
  padding-left: 0 !important;
  min-width: 40vw;
  list-style-type: none;
  font-size: 30px;
}
.myPagesLinks {
  z-index: 3;
  margin-right: 20px;
}

.contactInfo p {
  width: fit-content;
  display: flex;
  flex-direction: column;
}

.contactForm{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  width: 25vw;
}
.contactFormInput{
  margin: 5px 0;
  height: 5vh;
  font-size: 16px;
  border: 1px solid var(--purple);
  background-color: var(--paleYell);
  padding: 8px;
}

.contactFormBtn {
  appearance: button;
  padding: 8px;
  margin: 4px;
  width: fit-content;
  background-color: transparent;
  background-image: linear-gradient(to bottom, #fff, #f8eedb);
  border: 0 solid var(--purple);;
  border-radius: .5rem;
  
  box-shadow: -6px 8px 10px rgba(81,41,10,0.1),0px 2px 2px rgba(81,41,10,0.2);
}

.contactFormBtn:hover {
  background-color: var(--lightPurple);

}
.projectCards {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.projectCard {
  border: 2px solid var(--purple);
  border-radius: 10px;
  padding: 1rem;
  margin: 1rem;
  opacity: 20%;

  
}
.cardIMG {
  width: 20vw;
  padding: 5px;
  border: 1px solid var(--purple);
  float: right;
}
.projectCard:hover {
  opacity: 100%;
  /* transform: scale(1.1); */
}
#beautyqlickIMG {
  filter: opacity(30%);
}

.pCardInfo {
  display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
}
.pCardInfoPart{
  padding: 0px 20px;
}
p{
  font-size: 22px;
  letter-spacing: .05rem;
}
.extraLinked {
  display: flex;
  flex-direction: row;
  justify-content: end;
  padding-top: 20vh;
  
}
  .linkd {
    padding: 12px;
    border-radius: 20px;
    background-color: #0077b5;
    color: aliceblue;
  }
  .insta {
    padding: 12px;
    border-radius: 20px;
    background: #833ab4;
    background: linear-gradient(
      to right,
      #833ab4,#fd1d1d,#fcb045
    );
    color: #ffead7;
  }
  .git {
    padding: 12px;
    border-radius: 20px;
    background-color: #000000;
    color: aliceblue;
  }
  .tiktok{
    padding: 8px;
    margin: 4px;
    border-radius: 18px;
    background-color: #000000;
    color: aliceblue;
    box-shadow :-4px -3px 0px 3px rgba(36, 243, 238, .7), 4px 3px 0px 3px rgb(255,0,80);
  }
  .pint {
    padding: 12px;
    border-radius: 20px;
    background-color: #E60022;
    color: aliceblue;
  }
  
.xtralinkedThing{
 margin: 4px;
}

.albumIMGelem{
  width: 100px;
  height: 100px;


}

@media only screen and (max-width: 768px) {

  .pCardInfo {
    border: 1px solid var(--purple);
    padding: 10px;
    
  }
  .projectCard {
    width: 85vw;
    border: none;
    padding:10px 0px ;
    margin:10px 0px ;
  }
  .contactForm {
    width: 90vw;
  }
  .myName {
    font-size: 26px;
  }
  .myPages {
    font-size: 20px;
  }
  .extraLinked {
    flex-wrap: wrap;
  
  }
}

@media only screen and (max-width: 450px) {
  .pCardInfo {

    flex-direction: column-reverse;
  
  } 
  .cardIMG{
    width: 40vw;
  }

}
