body, html {
    margin: 0;
    width: 100%;
    height: 100%;
    /* overflow: hidden; */
}

.container {
    width: 100%;
    height: 100%;
    position: relative;
}

.background {
    width: 100%;
    height: 100%;
    background-color: var(--paleYell);
    position: absolute;
}

.yellow-blob {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: var(--brightYell);
    position: absolute;
    top: calc(50% - 150px);
    left: calc(50% - 150px);
    animation: breathe 4s infinite alternate ease-in-out; /* Animation for breathing effect */
    box-shadow: 0 0 50px 20px var(--brightYell); /* Neon glow effect */
    z-index: 1; 
}

@keyframes breathe {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.3);
    }
}

.new-blob {
    /* z-index: 0; */
    z-index: revert;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: var(--brightYell); /* Neon yellow */
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    animation: fade-out 1s ease forwards; /* Animation for fade-out effect */
    z-index: 2; 
    pointer-events: none; /* Prevent interaction with new blobs */
    opacity: 0; /* Initially hidden */
}

@keyframes fade-out {
    0% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
    100% {
        transform: translate(-50%, -50%) scale(2);
        opacity: 0;
    }
}

/* Media query for smaller screens */
@media only screen and (max-width: 768px) {
    .yellow-blob {
        width: 150px; /* Adjusted size for smaller screens */
        height: 150px; /* Adjusted size for smaller screens */
        top: calc(50% - 75px); /* Adjusted position for smaller screens */
        left: calc(50% - 75px); /* Adjusted position for smaller screens */
    }

    .new-blob {
        width: 150px; /* Adjusted size for smaller screens */
        height: 150px; /* Adjusted size for smaller screens */
    }
}
