:root {
  --purple: #7776bc;
  --lightPurple: #cdc7e5;
  --paleYell: #fefcec;
  --brightYell: #ffec51;
  --coral: #ff674d;
}

a {
  text-decoration: none; 
  background-color: none;
  color: var(--purple);
}
h1, h3, .contactInfo{
  padding-left: 20px;
}
body{
  background: var(--paleYell);

}

body {
  font-family: Lato;
  color: #4c191b;
}
.myPages {
  display: flex; 
  flex-direction: row;
  width: 40vw;
  list-style-type: none;
  a{
    z-index: 3;
    margin: 0 20px;}
}
.pageContent {
  margin: 10px;
}

.contactInfo {
  p {
    display: flex;
    flex-direction: column;
  }
}


.projectCard {
  border: 2px solid var(--purple);
  border-radius: 10px;
  padding: 10px;

  img {
    width: 80vw;
    padding: 5px;
    border: 1px solid var(--purple);
  }
}
#beautyqlickIMG {
  filter: opacity(30%);
}

.pCardInfo {
  display: flex;
  flex-direction: column;
  margin: 5px;
  flex-wrap: nowrap;
  align-items: center;
}

@media only screen and (min-width: 600px) {
  .projectCard {
    margin: 10px;
    img {
      width: 20vw;
      align-self: flex-end;
    }
  }
  .pCardInfo {
    display: flex;
    flex-direction: row;
    margin: 5px;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
  }
}

@media only screen and (min-width: 768px){
    .projectCards{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .pCardInfo{
        
        border: 1px solid var(--purple);
        padding: 10px;
    }
    .projectCard {
        width: 85vw;
        border: none;
        img {
            margin: 5px;
            width: 22vw;
        }
}
}